* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    border: 2px solid slateblue;
    display: flex;
    flex-wrap: wrap;
}


.box {
    height: 50px;
    width: 50px;
    background-color: deeppink;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Rotate Property */
#box1 {
    transform: rotate(40deg);

}

#box2 {
    /* 1turn = 360deg */
    transform: rotate(0.5turn);
}

#box3 {
    transform: rotateX(40deg);
}

#box4 {
    transform: rotateY(40deg);
}

#box5 {
    transform: rotateZ(70deg);
}

/* Scale Property to increace the side of the element */

#box6 {
    transform: scale(1.5);
}

#box7 {
    transform: scaleX(1.4);
}

#box8 {
    transform: rotateY(40deg);
}

#box9 {
    transform: scale3d(1.9);
}

/* skew property  */
#box10 {
    transform: skew(20deg);
}

#box11 {
    transform: skewX(50deg);
}

#box12 {
    transform: skewY(60deg);
}

#box13 {
    transform: translate(34px);
}

#box14 {
    transform: translateX(50px);
}

#box15 {
    transform: translateY(50px);

}

#box16 {
    transform: translateY(100%) skewX(40deg) translateX(60%);
}

#box17 {
    transform: rotate(0.125turn);
    transform-origin: 0% 0%;
}