* {
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
}

.img1 {
    /* filter: blur(10px); */
    /* filter: brightness(222%); */
    /* filter: contrast(200%); */

}

#svg {
    filter: grayscale(100%);
    filter: sepia(100%);
    filter: invert(0.4);
    filter: opacity(1);
    filter: saturate(10%);
}